<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring_jdbc(using direc mwthod date-21-10-16 time 3 am)"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mchange.v2.c3p0.test.C3P0BenchmarkApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring_jdbc(using direc mwthod date-21-10-16 time 3 am)"/>
</launchConfiguration>
