<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
 
              
               
             <bean id="eng" class="com.ij.beans.engin">
            
              <property name="engid" value="123"/>
             <property name="type" value="petrol"/> 
            
              
           <!--   <property name="type" value="army"/> 
             <property name="id" value="98"/>
     -->
             
             
             </bean>
             
              <bean id="sim" class="com.ij.beans.vichel"/>
            
             <context:annotation-config/>
               
                                  
</beans>
